input {
  border: none;
  outline: none;
}


.header-form-career {

  .header-form-career__box {
    background: url("../img/form_bg_slogan.svg") no-repeat 0 38%;

    @media (max-width: 1280px) {
      background-size: contain;
    }

    .slogan__author {
      @media (max-width: 768px) {
        margin-bottom: 3.5rem;
      }
    }
  }

  .slogan__item-question,
  .slogan__item-answer {
    background: none;
  }

  .slogan__item-question {

    .slogan__text {
      width: 100%;
    }
  }
}

.header .slogan__item .header-form-career__slogan {
  margin-right: 0;
  margin-left: 4rem;
}

//contact-details


.contact-details {
  background: url("../img/logo_owl.svg") no-repeat right top;
  padding-bottom: 110px;

  @media (max-width: 1280px) {
    background: url("../img/logo_owl_50.svg") no-repeat right top;
    padding-bottom: 0;
  }

  @media (max-width: 480px) {
    background: none;
  }

  .title-section {
    @media (max-width: 640px) {
      font-size: 4.5vw;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  .form__item {
    font-size: 18px;
    line-height: 22px;
    color: $input_placeholder;
    padding: 10px 20px;
    border: 2px solid rgba(20, 19, 18, 0.2);
    border-radius: 4px;
    margin-bottom: 30px;
    width: 26%;

    @media (max-width: 1280px) {
      width: 58%;
    }

    @media (max-width: 480px) {
      width: 100%;
      margin-bottom: 20px;
    }

    &:hover {
      border: 2px solid rgba(20, 19, 18, 0.6);
      color: rgba(20, 19, 18, 0.8);
    }

    &:active {
      border: 2px solid rgba(20, 19, 18, 0.6);
    }

    &:focus {
      border: 2px solid rgba(20, 19, 18, 0.6);
    }

  }
}

.form__description {
  width: 27%;
  margin-top: 109px;
  margin-bottom: 50px;
  font-size: 1rem;
  line-height: 27px;

  @media (max-width: 1280px) {
    width: 55%;
    margin-top: 10px;
  }

  @media (max-width: 480px) {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }
}


.questionnaire {
  background: $basicDarkGrey;

  .questionnaire__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.questionnaire__form {
  @media (max-width: 480px) {
    width: 99vw;
  }
}

.questionnaire__item {
  position: relative;
  min-height: 570px;
  overflow: hidden;
  display: flex;
  align-items: center;


  &:nth-child(2) {
    .checkbox__box {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 1280px) {
    min-height: auto;
    padding-top: 7rem;
  }

  @media (max-width: 1024px) {
    padding-top: 4rem;
  }

  @media (max-width: 480px) {
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &:before {
    content: "";
    position: absolute;
    width: 43%;
    height: 700px;
    background: $form_bg;
    left: -159px;
    top: -60px;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  .questionnaire__box {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;

    @media (max-width: 1280px) {
      grid-template-columns: 1fr;
    }
  }

  .triangle {
    width: 0;
    height: auto;
    border-style: solid;
    border-width: 285px 0 285px 252px;
    border-color: transparent transparent transparent $form_bg;
    margin-left: -1px;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  .triangle-white {
    border-color: transparent transparent transparent $basicWhite;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  &:nth-child(even) {
    &:before {
      background: $basicWhite;


    }
  }

  &:nth-child(even) {
    .questionnaire__question {
      background: $basicWhite;

      @media (max-width: 1280px) {
        background: transparent;
      }

      .questionnaire__number {
        color: rgba(20, 19, 18, 0.1);

        @media (max-width: 1280px) {
          color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .questionnaire__title {
      color: $basicDarkGrey;

      @media (max-width: 1280px) {
        color: $basicWhite;
        width: 60%;
      }

      @media (max-width: 480px) {
        width: 100%;
      }


      &:after {
        position: absolute;
        content: "";
        width: 150px;
        background: rgba(20, 19, 18, 0.3);
        height: 1px;
        bottom: -12px;
        left: 0;

        @media (max-width: 1280px) {
          background: rgba(255, 255, 255, 0.3);
        }

        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }

    .questionnaire__comment {
      color: rgba(20, 19, 18, 0.6);

      @media (max-width: 1280px) {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}


.questionnaire__item--last-child {
  align-items: center;

  @media (max-width: 1280px) {
    padding-top: 0;
  }

  &:before {
    content: "";
    position: absolute;
    width: 1170px;
    top: -21px;
    left: -423px;
    height: 1268px;
    transform: rotate(45deg);
    background: url("../img/gratitude.svg");
  }
}

.questionnaire__answer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;

  @media (max-width: 1280px) {
    margin-left: 0;
    margin-top: 2rem;
    align-self: flex-end;
  }

  @media (max-width: 480px) {
    margin-top: 20px;

  }
}

.questionnaire__question {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $form_bg;

  @media (max-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    align-items: baseline;
    width: 100%;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .questionnaire__title {
    font-size: 1.5rem;
    line-height: 41px;
    font-weight: 100;
    letter-spacing: 2px;
    color: $basicWhite;
    position: relative;
    min-width: 388px;

    @media (max-width: 1280px) {
      min-width: 50%;
      letter-spacing: normal;
    }

    @media (max-width: 480px) {
      font-size: 14px;
      line-height: 24px;
      text-align: center;

    }

    &:after {
      position: absolute;
      content: "";
      width: 150px;
      background: rgba(255, 255, 255, 0.3);
      height: 1px;
      bottom: -12px;
      left: 0;

      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }

  .questionnaire__comment {
    font-size: 12px;
    line-height: 24px;
    color: $opacity_60_White;
    min-width: 388px;

    @media (max-width: 1280px) {
      min-width: 50%;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      padding-left: 20px;
      text-align: right;
    }

    @media (max-width: 480px) {
      text-align: center;
      font-size: 12px;
      line-height: 21px;
    }
  }
}

.questionnaire__box {
  .questionnaire__number {
    position: absolute;
    left: -50px;
    top: -118px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 144px;
    line-height: 174px;
    color: rgba(255, 255, 255, 0.1);

    @media (max-width: 1280px) {
      left: -25px;
      top: -100px;
      font-size: 124px;
    }

    @media (max-width: 480px) {
      font-size: 72px;
      line-height: 87px;
      left: 31%;
      top: -55px;
    }


    &:nth-child(even) {
      color: red;
    }
  }
}


.questionnaire__answer {
  .questionnaire__textarea {
    width: 100%;
    min-height: 200px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background: none;
    padding: 1rem;
    resize: none;
    color: $basicWhite;
    font-size: 18px;
    line-height: 41px;
    outline: none;

    @media (max-width: 1280px) {
      margin-top: 2rem;
      min-height: 150px;
    }

    @media (max-width: 480px) {
      min-height: 100px;
      margin-top: 0;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.2);
    }

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.6);

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    &:active {
      border: 2px solid rgba(255, 255, 255, 0.6);
    }

    &:focus {
      border: 2px solid rgba(255, 255, 255, 0.6);
    }
  }
}

//2

.checkbox__box {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }
}

.questionnaire__label {
  font-size: 18px;
  line-height: 22px;
  color: $basicWhite;
  padding: 10px 40px 10px 0;
  border-bottom: 1px solid $basicWhite;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;

  &:after {
    content: "";
    width: 0;
    height: 10px;
    background: $basicWhite;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
  }

  &:hover {
    padding-left: 20px;
    padding-right: 40px;
    cursor: pointer;

    @media (max-width: 480px) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &:hover:after {
    height: 10px;
    width: 100%;
  }

  &:focus {
    padding-left: 20px;
    padding-right: 40px;
    background: $basicWhite;
    color: $basicDarkGrey;

    @media (max-width: 480px) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &:active {
    padding-left: 20px;
    padding-right: 40px;
    background: $basicWhite;
    color: $basicDarkGrey;

    @media (max-width: 480px) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  @media (max-width: 480px) {
    border: 1px solid $basicWhite;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.questionnaire__checkbox + .questionnaire__label {
  position: relative;
}

.questionnaire__checkbox + .questionnaire__label:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 17px;
  width: 10px;
  height: 10px;
  transition: .2s;

}

.questionnaire__checkbox:checked + .questionnaire__label:before {
  background: $basicDarkGrey;
  top: 40%;

  @media (max-width: 480px) {
   display: none;
  }
}

.questionnaire__checkbox:checked + .questionnaire__label:after {

}

.questionnaire__checkbox:checked + .questionnaire__label {
  background: white;
  color: $basicDarkGrey;
  font-weight: 400;
  padding-left: 20px;

  @media (max-width: 480px) {
    padding-left: 8px;
  }
}

.questionnaire__checkbox:focus + .questionnaire__label {
  padding-left: 20px;

  @media (max-width: 480px) {
    padding-left: 8px;
  }
}

.questionnaire__checkbox:active + .questionnaire__label {
  padding-left: 20px;

  @media (max-width: 480px) {
    padding-left: 8px;
  }
}

.questionnaire__checkbox:hover + .questionnaire__label:before {
  bottom: 0;
}


.questionnaire__input-text {
  background: none;
  border-bottom: 1px solid $opacity_60_White;
  width: 100%;
  color: $basicWhite;
  font-size: 1rem;

  &::placeholder {
    font-size: 18px;
    line-height: 22px;
    color: $opacity_60_White;
  }

  &:hover {
    border-bottom: 1px solid $basicWhite;
  }

  &:hover::placeholder {
    color: $basicWhite;
  }
}


.questionnaire__gratitude-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;

  @media (max-width: 1280px) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.questionnaire__gratitude {
  position: relative;
  background: transparent;

  .questionnaire__gratitude-svg {
    fill: black;

    @media (max-width: 1280px) {
      fill: white;
      width: 100%;
      stroke-width: .5px;
    }

    @media (max-width: 480px) {
      width: 60%;
      height: auto;
    }
  }
}

.questionnaire__answer {
  position: relative;

}

.questionnaire__send {
  color: $basicDarkGrey;
  padding: 15px 0 10px;
  background: $basicWhite;
  font-size: 18px;
  line-height: 30px;
  min-width: 380px;
  display: block;
  text-transform: uppercase;
  border-bottom: 5px solid transparent;
  text-align: center;
  transition: .3s;

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    background: $basicRed;
    display: block;
    transition: .3s;
    right: 0;
    bottom: 0;
  }

  &:hover {
    &:after {

      width: 100%;
      height: 5px;
      display: block;
     left: 0;
      bottom: 0;
    }
  }

  @media (max-width: 1280px) {
    margin-bottom: 80px;
  }

  @media (max-width: 480px) {
    min-width: 290px;
    margin-bottom: 0;
  }
}

.questionnaire__back-home {
  display: none;

  @media (max-width: 480px) {
   display: block;
  }
}

.footer-form {

  @media (max-width: 1280px) {
    background: $basicDarkGrey;
    .footer__item {
      p, a, span {
        color: $basicWhite;
      }
    }
    .footer__box {
      border-top: 1px solid $opacity_40_White;
    }
  }
  @media (max-width: 480px) {
    display: none;
  }
}


//questionnaire__pagination

.questionnaire__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 481px) {
    display: none;
  }

  .questionnaire__nav-prev,
  .questionnaire__nav-next {
    position: relative;

    &:before {
     // content: "";
      width: 8px;
      height: 8px;
      background: transparent;
      border-right: 2px solid $opacity_40_White;
      border-top: 2px solid $opacity_40_White;
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
      left: 6px;
      cursor: pointer;
    }

    &:hover:before {
      border-right: 2px solid $basicWhite;
      border-top: 2px solid $basicWhite;
    }

    &:hover .next__svg {
      opacity: 1;
    }
    &:hover .prev__svg {
      opacity: 1;
    }
  }

  .next__svg,
  .prev__svg {
    stroke: $basicWhite;
    opacity: .6;
    cursor: pointer;
  }



  .questionnaire__nav-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $opacity_40_White;
    margin: 0 20px;
  }
}



//owl

.owl-carousel .owl-stage-outer {
  min-height: 355px;
}
//.body .main__form .owl-carousel .owl-nav {
//  text-align: end;
//}
//
//.body .main__form .owl-carousel .owl-nav .owl-next,
//.body .main__form .owl-carousel .owl-nav .owl-prev{
//
//  opacity: .6;
//  width: 30px;
//  height: 30px;
//  &:hover {
//    opacity: 1;
//  }
//  span {
//    opacity: 0;
//  }
//}
//
//.body .main__form .owl-carousel .owl-nav .owl-next {
//  background: url("../img/next.svg") no-repeat center/cover;
//  margin-right: 10px;
//
//}
//
//.body .main__form .owl-carousel .owl-nav .owl-prev {
//  background: url("../img/prev.svg") no-repeat center/cover;
//  margin-right: 50px;
//}




